<!DOCTYPE html>
<html lang="{{site.active_lang}}">
  <head>

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/style.css?v=" media="all">
    <link rel="preconnect" href="https://meu-blog.pages.dev">

    <noscript><link rel="stylesheet" href="/assets/css/style.css?v="></noscript>

    {% assign sitelocal = site.data[site.active_lang].strings %}
    {% include head-custom.html %}
  </head>
  <body>

    <header>
      <div class="container">
        <a id="a-title" href="/">
          <h1>{{ sitelocal.title }}</h1>
        </a>
        <h2>{{ sitelocal.description }}</h2>
      </div>
    </header>


    <div class="container">

      <span class="langSpan">
        {%if site.active_lang == "pt-BR" %}
          <a class="rmUnder" {% static_href %}href="/en{{page.url}}"{% endstatic_href %}>
                🇺🇸
          </a>
        {% else %}
          <a class="rmUnder" {% static_href %}href="{{page.url}}"{% endstatic_href %}>
                🇧🇷
          </a>
        {% endif %}
      </span>

      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
